@charset "utf-8";
#head {
    text-align: center; 
    font-size: 30px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    background-color: #f1f1f1;
}
body {
    background-image: url(clouds.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dropbtn {
    background-color:white;
	text-decoration: bold;
    padding: 16px;
    font-size: 16px;
    border:solid;
	border-color: skyblue;
	text-align: center;
	
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: skyblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#find{
  border-radius: 12px;
}
#input{
    display: flex;
    height: 300%;
}
#boxes{
    display: inline-block;
    flex: 1;
    margin-top: 22px;
    margin-left: 10px;
}
#visual{
    display: inline-block;
    flex: 2;
   
}

#head2{
    text-align: center;
    background-color: white;
}
#filter{
  text-align: center;
}
#interactive{
  text-align: center;
}
#butt{
  text-align: center;
}
#submit{
  border-radius: 12px;
}


/* google maps stuff */
#map {
    height: 100%;
    border: 1px solid black;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

#info{
  margin-top: 50px;
}


